.DS_Store
.vscode
node_modules/
dist/
__pycache__/
*.cache.json
*.git/
*.tmp
data/*/raw/_contributions_*_bugzilla.csv
data/*/raw/_contributions_*_gitlab.csv
data/*/raw/_contributions_*_git.csv
contributions.csv
first_names.pkl.gz
